.forgot-page {
  font-family: Poppins, sans-serif;
  background: url("../../vendor/crudbooster/assets/background-login.png") center center;
}
.forgot-page .forgot-box {
  width: 380px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 15px;
  border-radius: 5px;
}
.forgot-page .forgot-box .forgot-box-msg {
  text-align: center;
  font-size: 16px;
  padding-top: 15px;
}
.forgot-page .forgot-box .form-group {
  height: 35px;
  padding: 0 5px 0 5px;
}
.forgot-page .forgot-box .form-group input {
  background-color: transparent;
}
.forgot-page .forgot-box .form-group input:focus {
  outline: none;
  border: 1px solid #0AB7D3;
}
.forgot-page .forgot-box .row {
  padding: 10px 15px 0 15px;
  box-sizing: border-box;
}
.forgot-page .forgot-box .row.try-again {
  text-align: right;
}
.forgot-page .forgot-box .row.try-again a {
  color: #0AB7D3;
}
.forgot-page .forgot-box .row.button {
  height: 55px;
}
.forgot-page .forgot-box .row.button button {
  border-radius: 25px;
  height: 100%;
  background-color: #0AB7D3;
  border-color: #0AB7D3;
  font-size: 18px;
}

/*# sourceMappingURL=forgot.css.map */
