body.skin-purple .main-header {
  font-family: Poppins, sans-serif;
}
body.skin-purple .main-header a {
  background-color: #635EBE !important;
  color: white;
}
body.skin-purple .main-header nav {
  background-color: #635EBE !important;
  color: white;
}
body.skin-purple .main-header nav .navbar-custom-menu p {
  color: black !important;
  border-top: 1px solid #635EBE;
}
body.skin-purple .main-header nav .navbar-custom-menu a {
  color: white !important;
}
body.skin-purple .main-header nav .navbar-custom-menu .btn-danger {
  background-color: red !important;
}
body.skin-purple .main-header .themes {
  width: 242px;
}
body.skin-purple .main-header .themes .palletes {
  display: flex;
  flex-wrap: wrap;
}
body.skin-purple .main-header .themes .palette {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 4px 6px 8px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 8px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 6px 8px -2px rgba(0, 0, 0, 0.75);
}
body.skin-purple .main-header .themes .palette.light-black {
  background-color: black;
  border-left: 40px solid white;
}
body.skin-purple .main-header .themes .palette.dark-white {
  background-color: white;
  border-left: 40px solid #161931;
}
body.skin-purple .main-header .themes .palette.light-blue {
  border-left: 40px solid white;
  background-color: #014B94;
}
body.skin-purple .main-header .themes .palette.dark-blue {
  border-left: 40px solid #161931;
  background-color: #014B94;
}
body.skin-purple .main-header .themes .palette.light-green {
  border-left: 40px solid white;
  background-color: #2FBFA0;
}
body.skin-purple .main-header .themes .palette.dark-green {
  border-left: 40px solid #161931;
  background-color: #2FBFA0;
}
body.skin-purple .main-header .themes .palette.light-purple {
  border-left: 40px solid white;
  background-color: #635EBE;
}
body.skin-purple .main-header .themes .palette.dark-purple {
  border-left: 40px solid #161931;
  background-color: #635EBE;
}
body.skin-purple .main-sidebar {
  font-family: Poppins, sans-serif;
  background-color: white;
}
body.skin-purple .main-sidebar .user-panel {
  background-color: white;
  color: #635EBE;
}
body.skin-purple .main-sidebar .user-panel a {
  color: #635EBE;
}
body.skin-purple .sidebar-menu li {
  background-color: white !important;
  color: #635EBE;
}
body.skin-purple .sidebar-menu li a {
  color: #635EBE !important;
}
body.skin-purple .treeview-menu {
  position: absolute;
  top: 0;
  left: 227px;
  background-color: white !important;
  z-index: 99999;
  border-left: 3px solid #635EBE;
}
body.skin-purple .treeview {
  border-left: 3px solid transparent;
  font-size: 13px;
}
body.skin-purple .treeview a,
body.skin-purple .treeview span {
  color: #635EBE !important;
}
body.skin-purple .treeview.active {
  border-left: 3px solid #635EBE;
}
body.skin-purple .treeview .pull-right {
  right: 0 !important;
}
body.skin-purple .content-wrapper {
  font-family: Lato, sans-serif !important;
  font-size: 14px;
}
body.skin-purple .content-wrapper .add-button {
  color: green;
  font-size: 14px;
}
body.skin-purple .content-wrapper .show-button {
  color: blue;
  font-size: 14px;
}
body.skin-purple .content-wrapper .box-header .filter-button {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
@media screen and (max-width: 768px) {
  body.skin-purple .content-wrapper .box-header .filter-button {
    width: 100%;
  }
}
body.skin-purple .content-wrapper .box-header button,
body.skin-purple .content-wrapper .box-header a,
body.skin-purple .content-wrapper .box-header input {
  margin-right: 1px;
  background-color: white;
  border-radius: 5px;
}
body.skin-purple .content-wrapper .box-header button:hover,
body.skin-purple .content-wrapper .box-header a:hover,
body.skin-purple .content-wrapper .box-header input:hover {
  border: 1px solid #635EBE;
}
body.skin-purple .content-wrapper .box-header input {
  margin-left: 10px;
}
body.skin-purple .content-wrapper .box-header select {
  width: 70px;
  border-radius: 5px;
}
body.skin-purple .content-wrapper .box-header select:hover {
  border: 1px solid #635EBE;
}
body.skin-purple .content-wrapper .box-header .box-tools #form-limit-paging {
  width: 70px;
}
body.skin-purple .content-wrapper .box-header .box-tools #form-limit-paging .input-group {
  width: 70px;
}
body.skin-purple .content-wrapper .box-header .box-tools #form-limit-paging .input-group select {
  width: 70px;
}
body.skin-purple .content-wrapper table thead tr,
body.skin-purple .content-wrapper table tfoot tr {
  background-color: white;
  font-size: 14px;
  font-weight: bold;
}
body.skin-purple .content-wrapper table thead tr th,
body.skin-purple .content-wrapper table thead tr a,
body.skin-purple .content-wrapper table tfoot tr th,
body.skin-purple .content-wrapper table tfoot tr a {
  background-color: white !important;
  border: none;
  color: black !important;
}
body.skin-purple .content-wrapper table tbody td {
  border: none;
  vertical-align: middle;
}
body.skin-purple .content-wrapper table tbody td .button_action a {
  font-size: 16px !important;
}
body.skin-purple .content-wrapper table tbody td .button_action a.btn-detail {
  color: #014b94;
}
body.skin-purple .content-wrapper table tbody td .button_action a.btn-edit {
  color: green;
}
body.skin-purple .content-wrapper table tbody td .button_action a.btn-delete {
  color: red;
}
body.skin-purple .content-wrapper table tbody tr:nth-child(odd) {
  background-color: rgba(99, 94, 190, 0.08);
}

/*# sourceMappingURL=light-theme-purple.css.map */
