.login-page {
  font-family: Poppins, sans-serif;
  background: url("../../vendor/crudbooster/assets/background-login.png") center center;
}
.login-page .login-box {
  background-color: transparent;
  width: 410px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
}
.login-page .login-box .login-box-body {
  background-color: transparent;
  box-shadow: none !important;
  padding: 20px;
  box-sizing: border-box;
}
.login-page .login-box .login-box-body .alert {
  padding: 5px 0 5px 15px;
}
.login-page .login-box .login-box-body .alert-warning {
  margin: 5px;
}
.login-page .login-box .login-box-body .login-box-msg {
  text-align: center;
  font-size: 16px;
  padding: 5px 0 5px 0;
}
.login-page .login-box .login-box-body .form-group {
  height: 35px;
}
.login-page .login-box .login-box-body .form-group input {
  background-color: transparent;
}
.login-page .login-box .login-box-body .form-group input:focus {
  border: 1px solid #0AB7D3;
}
.login-page .login-box .login-box-body .row.button-row {
  height: 55px;
}
.login-page .login-box .login-box-body .row.button-row button {
  height: 100%;
  width: 90%;
  margin: auto;
  border-radius: 30px;
  font-size: 18px;
  background-color: #0AB7D3;
  border-color: #0AB7D3;
}
.login-page .login-box .login-box-body .row.forgot-pass-row a {
  color: #0AB7D3;
}

/*# sourceMappingURL=login.css.map */
