body {
&.skin-dark-blue {
    $primary-background: #014B94;
    $header-font-color: white;
    $sidebar-font-color: #3C8DBC;

    $theme-main-color: #161931;
    $danger-color: red;
    $p-color: black;
    $primary-font: Poppins, sans-serif;
    $secondary-font: Lato, sans-serif;

    //header
    @import './general-theme.scss';
  }
}
