@import './config.scss';
.forgot-page {
  font-family: $default-font;
  background: url('../../vendor/crudbooster/assets/background-login.png') center center;
  
  .forgot-box {
    width: 380px;
    box-sizing: border-box;
    background-color: transparent;
    padding: 15px;
    border-radius: 5px;
    .forgot-box-msg {
      text-align: center;
      font-size: 16px;
      padding-top: 15px;
    }
    .form-group {
      height: 35px;
      padding: 0 5px 0 5px;
      input {
        background-color: transparent;
      }
      input:focus {
        outline: none;
        border: 1px solid $primary-color;
      }
    }
    .row {
      padding: 10px 15px 0 15px;
      box-sizing: border-box;
      &.try-again {
        text-align: right;
        a {
          color: $primary-color;
        }
      }
      &.button {
        height: 55px;
        button {
          border-radius: 25px;
          height: 100%;
          background-color: $primary-color;
          border-color: $primary-color;
          font-size: 18px;
        }
      }
    }
  }
}