//header
.main-header {
  font-family: $primary-font;
  a {
    background-color: $primary-background !important;
    color: $header-font-color;
  }
  nav {
    background-color: $primary-background !important;
    color: $header-font-color;
    .navbar-custom-menu {
      p {
        color: $p-color !important;
        border-top: 1px solid $primary-background;
      }
      a {
        color: $header-font-color !important;
      }
      .btn-danger {
        background-color: $danger-color !important;
      }
    }
  }

  .themes{
    width: 242px;
    .palletes {
      display: flex;
      flex-wrap: wrap;
    }
    .palette {
      width: 100px;
      height: 100px;
      margin: 10px;
      display: inline-block;
      background-color: black;
      border-radius: 5px;
      cursor: pointer;
      -webkit-box-shadow: 4px 6px 8px -2px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 6px 8px -2px rgba(0,0,0,0.75);
      box-shadow: 4px 6px 8px -2px rgba(0,0,0,0.75);
      &.light-black {
        background-color: black;
        border-left: 40px solid white;
      }
      &.dark-white {
        background-color: white;
        border-left: 40px solid #161931;
      }
      &.light-blue {
        border-left: 40px solid white;
        background-color: #014B94;
      }
      &.dark-blue {
        border-left: 40px solid #161931;
        background-color: #014B94;
      }
      &.light-green {
        border-left: 40px solid white;
        background-color: #2FBFA0;
      }
      &.dark-green {
        border-left: 40px solid #161931;
        background-color: #2FBFA0;
      }
      &.light-purple {
        border-left: 40px solid white;
        background-color: #635EBE;
      }
      &.dark-purple {
        border-left: 40px solid #161931;
        background-color: #635EBE;
      }
    }
  }
}
//end header
//sidebar

.main-sidebar {
  font-family: $primary-font;
  background-color: $theme-main-color;
  .user-panel {
    background-color: $theme-main-color;
    color: $sidebar-font-color;
    a {
      color: $sidebar-font-color;
    }
  }
}

.sidebar-menu {
  li {
    background-color: $theme-main-color !important;
    color: $sidebar-font-color;
    a {
      color: $sidebar-font-color !important;
    }
  }
}

.treeview-menu {
  position: absolute;
  top: 0;
  left: 227px;
  background-color: $theme-main-color !important;
  z-index: 99999;
  border-left: 3px solid $primary-background;
}

.treeview {
  a,
  span {
    color: $sidebar-font-color !important;
  }
  border-left: 3px solid transparent;
  font-size: 13px;
  &.active {
    border-left: 3px solid $primary-background;
  }
  .pull-right {
    right: 0 !important;
  }
}
// end sidebar
// content

.content-wrapper {
  // filter-line
  font-family: $secondary-font !important;
  font-size: 14px;
  .add-button {
    color: green;
    font-size: 14px;
  }
  .show-button {
    color: blue;
    font-size: 14px;
  }

  .box-header {
    .filter-button {
      display: flex;
      justify-content: space-between;
      width: 65%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    button,
    a,
    input {
      margin-right: 1px;
      background-color: white;
      border-radius: 5px;
      &:hover {
        border: 1px solid $sidebar-font-color;
      }
    }
    input {
      margin-left: 10px;
    }
    select {
      width: 70px;
      border-radius: 5px;
      &:hover {
        border: 1px solid $sidebar-font-color;
      }
    }
    .box-tools {
      #form-limit-paging {
        width: 70px;
        .input-group {
          width: 70px;
          select {
            width: 70px;
          }
        }
      }
    }
  }
  //end-filter-line
  //table
  table {
    thead,
    tfoot {
      tr {
        background-color: white;
        th,
        a {
          background-color: white !important;
          border: none;
          color: black !important;
        }
        font-size: 14px;
        font-weight: bold;
      }
    }
    tbody {
      td {
        border: none;
        vertical-align: middle;
        .button_action {
          a {
            font-size: 16px !important;
            &.btn-detail {
              color: #014b94;
            }
            &.btn-edit {
              color: green;
            }
            &.btn-delete {
              color: red;
            }
          }
        }
      }
      tr {
        &:nth-child(odd) {
          background-color: rgba($primary-background, 0.08);
        }
      }
    }
  }
  //end-table
}
