@import './config.scss';

.login-page {
  font-family: Poppins,sans-serif;
  background: url('../../vendor/crudbooster/assets/background-login.png') center center;
  .login-box {
    background-color: transparent;
    width: 410px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    .login-box-body {
      background-color: transparent;
      box-shadow: none !important;
      .alert {
        padding: 5px 0 5px 15px;
      }
      .alert-warning {
        margin: 5px;
      }
      padding: 20px;
      box-sizing: border-box;
      .login-box-msg{
        text-align: center;
        font-size: 16px;
        padding: 5px 0 5px 0;
      }
      .form-group {
        height: 35px;
        input {
          background-color: transparent;
        }
        input:focus {
          border: 1px solid $primary-color;
        }
      }
      .row {
        &.button-row {
          height: 55px;
          button {
            height: 100%;
            width: 90%;
            margin: auto;
            border-radius: 30px;
            font-size: 18px;
            background-color: $primary-color;
            border-color: $primary-color;
          }
        }
        &.forgot-pass-row {
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
}